@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: black;
  overflow-x: hidden;
}

* {
  min-width: 0;
}

th,
td {
  padding: 8px 10px;
  text-align: left;
}

tbody > tr {
  @apply border-b border-b-randy-eggshell;
}
